body {
    padding-top: 0;
    margin: 0%;
    color: #34495e;
    padding-left: 17rem;
    font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  text-decoration: none;
    color: #079992;
}

a:hover {
    color: #fd7e14;
    text-decoration: dashed;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

p {
  margin-top: 0;
    font-size: 1.1rem;
    color: #34495e;
    font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

b, strong {
    font-weight: bolder;
}

img {
    vertical-align: middle;
    border-style: none;
}

img.subheading-icon {
  width: 1.9rem;
  height: 1.65rem;
  margin-bottom: 0.2rem;
}


ul {
    list-style-type: none;
}
/* navbar */

#sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
}

.bg-primary {
    background-color: #38ada9;
}

.navbar-brand {
    margin: 24px;
    padding: 8px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.d-lg-none {
  display: none;
}

.d-none {
    display: inline-block;
    border-radius: 50%;
    width: 90%;
    height: 100%;
    background: #82ccdd;
}
.d-none img{
    width: 94%;
    height: 94%;
    padding-top: 6px;
    border-radius: 50%;
    margin: auto;
    padding: auto;
}

ul.navbar-nav {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.nav-item {
    box-sizing: border-box;
    padding: 10px;  
}

ul.navbar-nav li a {
    color: rgba(255,255,255,.5);
}

ul.navbar-nav li a:hover {
    color: white;
}

ul li a.nav-link {
    box-sizing: border-box;
    padding: 8px;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.nav-link {
    padding: 8px;
}

/* content */

.container {
    width: 100%;
}

section.resume-section {
    width: 92%;
    padding: 3rem !important;
    border-bottom: .1px dotted #7f8c8d;
}

h1 {
    font-size: 6rem;
    line-height: 6.5rem;
}

.mb-0{
    margin-bottom: 0 !important;
}
.mb-2 {
  margin-bottom: .5rem important;
}
.h-3 {   
    font-size: 2rem;
}

.mb-4, .my-4 {
    margin-bottom: 2rem!important;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.6rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.mb-5 {
    font-size: 3.5rem;
}

/* content */
.resume-item {
    display: inline-flex;
}
.resume-content {
    width: 65%;
}

.resume-date {
    width: 30%;
    padding-top: 1%;
    text-align: right;
    margin-right: 5%;
}


.text-primary {
    color: #079992;
    letter-spacing: 0.05rem;
}

.text-primary:hover {
    color: #fd7e14;
}

.fa-ul {
    padding: 0;
    list-style-type: none;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #fa983a;
}

.dev-icons {
  width: 100%;
  font-size: 3rem;
  display: inline-table;
}
.list-inline-item {
  margin-right: 1.5rem;
  display: inline-flex;
}
.dev-icons .list-inline-item i:hover {
  color: #fa983a;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}


.interest-pictures img {
  width: 20%;
  margin-top: 5px;
}

/* Start show modal zoom image*/
.img-zoomable:hover {
  opacity: 0.7;
  cursor: pointer;
}

.colored_react {
  color: #82ccdd;
}

.colored_nodejs {
  color: #83CD29;
}

.colored_js {
  color:#ffc107;
}

.colored_html5 {
  color: #dc3545;
}

.colored_css {
  color: #23719f;
}

.colored_bootstrap {
  color: #6610f2;
}

.colored_docker {
  color: #17a2b8;
}

.colored_trello {
  color: #23719f;
}

.colored_npm {
  color: #212529;
}

.colored_yellow {
  color: #ffc107;
}

@media only screen and (max-width: 992px) {
  body {
    position: relative;
  }
  #sideNav {
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 3.5rem;
      z-index: 1030;
  }

  .navbar-brand {
      margin: 3px 0 0 0;
      left: 6px !important;
  }

  .d-lg-none {
    display: block;
    font-size: 1.25rem;
    color: #34495e;
  }

  .d-none {
      display: none;
  }

  .fixed-top .navbar-nav {
    display: none;
  }

  .navbar-collapse {
    height: 100%;
  }

  .fixed-top a {
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    left: 93%;
  }

  .container {
      top: 6rem;
      position: absolute;
      left: 0;
  }

  section.resume-section {
      padding: 2rem !important;
      border-bottom: .1px dotted #7f8c8d;
  }
}


@media only screen and (max-width: 400px) {
  .fixed-top a {
      left: 85%;
  }

  ul {
    padding: 0;
    margin: 0 !important;
  }
}

/* https://codepen.io/carolineartz/pen/VwYwZaP */
#bongo-cat {
  height: 30vh;
  width: 30vw;
}
@media (max-width: 1024px) {
  #bongo-cat {
    height: 10vh;
    width: 30vw;
  }
}
@media (max-width: 414px) {
  #bongo-cat {
    height: 10vh;
    width: 40vw;
  }
}

.typing-animation {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
}

path#f1-l1 {
  -webkit-animation-name: typing-f1-l1;
          animation-name: typing-f1-l1;
}

path#f1-l2 {
  -webkit-animation-name: typing-f1-l2;
          animation-name: typing-f1-l2;
}

path#f1-l3 {
  -webkit-animation-name: typing-f1-l3;
          animation-name: typing-f1-l3;
}

path#f2-l4 {
  -webkit-animation-name: typing-f2-l4;
          animation-name: typing-f2-l4;
}

path#f2-l5 {
  -webkit-animation-name: typing-f2-l5;
          animation-name: typing-f2-l5;
}

path#f2-l6 {
  -webkit-animation-name: typing-f2-l6;
          animation-name: typing-f2-l6;
}

path#f3-l7 {
  -webkit-animation-name: typing-f3-l7;
          animation-name: typing-f3-l7;
}

path#f3-l8 {
  -webkit-animation-name: typing-f3-l8;
          animation-name: typing-f3-l8;
}

path#f3-l9 {
  -webkit-animation-name: typing-f3-l9;
          animation-name: typing-f3-l9;
}

@-webkit-keyframes typing-f3-l9 {
  0% {
    d: path("M8,25L8,25");
  }
  82% {
    d: path("M8,25L8,25");
  }
  92% {
    d: path("M8,25L96,25");
  }
  100% {
    d: path("M8,25L96,25");
  }
}

@keyframes typing-f3-l9 {
  0% {
    d: path("M8,25L8,25");
  }
  82% {
    d: path("M8,25L8,25");
  }
  92% {
    d: path("M8,25L96,25");
  }
  100% {
    d: path("M8,25L96,25");
  }
}
@-webkit-keyframes typing-f3-l8 {
  0% {
    d: path("M8,13L8,13");
  }
  68% {
    d: path("M8,13L8,13");
  }
  82% {
    d: path("M8,13L146,13");
  }
  100% {
    d: path("M8,13L146,13");
  }
}
@keyframes typing-f3-l8 {
  0% {
    d: path("M8,13L8,13");
  }
  68% {
    d: path("M8,13L8,13");
  }
  82% {
    d: path("M8,13L146,13");
  }
  100% {
    d: path("M8,13L146,13");
  }
}
@-webkit-keyframes typing-f3-l7 {
  0% {
    d: path("M0,1L0,1");
  }
  60% {
    d: path("M0,1L0,1");
  }
  68% {
    d: path("M0,1L96,1");
  }
  100% {
    d: path("M0,1L96,1");
  }
}
@keyframes typing-f3-l7 {
  0% {
    d: path("M0,1L0,1");
  }
  60% {
    d: path("M0,1L0,1");
  }
  68% {
    d: path("M0,1L96,1");
  }
  100% {
    d: path("M0,1L96,1");
  }
}
@-webkit-keyframes typing-f2-l6 {
  0% {
    d: path("M8,25L8,25");
  }
  54% {
    d: path("M8,25L8,25");
  }
  60% {
    d: path("M8,25L69,25");
  }
  100% {
    d: path("M8,25L69,25");
  }
}
@keyframes typing-f2-l6 {
  0% {
    d: path("M8,25L8,25");
  }
  54% {
    d: path("M8,25L8,25");
  }
  60% {
    d: path("M8,25L69,25");
  }
  100% {
    d: path("M8,25L69,25");
  }
}
@-webkit-keyframes typing-f2-l5 {
  0% {
    d: path("M8,13L8,13");
  }
  44% {
    d: path("M8,13L8,13");
  }
  54% {
    d: path("M8,13L114,13");
  }
  100% {
    d: path("M8,13L114,13");
  }
}
@keyframes typing-f2-l5 {
  0% {
    d: path("M8,13L8,13");
  }
  44% {
    d: path("M8,13L8,13");
  }
  54% {
    d: path("M8,13L114,13");
  }
  100% {
    d: path("M8,13L114,13");
  }
}
@-webkit-keyframes typing-f2-l4 {
  0% {
    d: path("M0,1L0,1");
  }
  30% {
    d: path("M0,1L0,1");
  }
  44% {
    d: path("M0,1L136,1");
  }
  100% {
    d: path("M0,1L136,1");
  }
}
@keyframes typing-f2-l4 {
  0% {
    d: path("M0,1L0,1");
  }
  30% {
    d: path("M0,1L0,1");
  }
  44% {
    d: path("M0,1L136,1");
  }
  100% {
    d: path("M0,1L136,1");
  }
}
@-webkit-keyframes typing-f1-l3 {
  0% {
    d: path("M8,25L8,25");
  }
  24% {
    d: path("M8,25L8,25");
  }
  30% {
    d: path("M8,25L61,25");
  }
  100% {
    d: path("M8,25L61,25");
  }
}
@keyframes typing-f1-l3 {
  0% {
    d: path("M8,25L8,25");
  }
  24% {
    d: path("M8,25L8,25");
  }
  30% {
    d: path("M8,25L61,25");
  }
  100% {
    d: path("M8,25L61,25");
  }
}
@-webkit-keyframes typing-f1-l2 {
  0% {
    d: path("M8,13L8,13");
  }
  14% {
    d: path("M8,13L8,13");
  }
  24% {
    d: path("M8,13L124,13");
  }
  100% {
    d: path("M8,13L124,13");
  }
}
@keyframes typing-f1-l2 {
  0% {
    d: path("M8,13L8,13");
  }
  14% {
    d: path("M8,13L8,13");
  }
  24% {
    d: path("M8,13L124,13");
  }
  100% {
    d: path("M8,13L124,13");
  }
}
@-webkit-keyframes typing-f1-l1 {
  0% {
    d: path("M0,1L0,1");
  }
  14% {
    d: path("M0,1L160,1");
  }
  100% {
    d: path("M0,1L160,1");
  }
}
@keyframes typing-f1-l1 {
  0% {
    d: path("M0,1L0,1");
  }
  14% {
    d: path("M0,1L160,1");
  }
  100% {
    d: path("M0,1L160,1");
  }
}
#paw-right--up,
#paw-right--down,
#paw-left--up,
#paw-left--down {
  -webkit-animation: blink 300ms infinite;
          animation: blink 300ms infinite;
}

#paw-right--up,
#paw-left--down {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
#laptop__code {
  -webkit-transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
          transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
}
